.settings
.classpath
.project
build
/*/src/main/webapp/VAADIN/widgetsets
/*/src/main/webapp/VAADIN/gwt-unitCache
.gradle*
/target*
/*/GWT development mode*
*.css
*.scss.cache
.idea
*.css.gz
**/widgetset
**/widgetsets
