@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin stepper {
  .stepper {
    position: relative;

    input[type=text] {
      line-height: $v-line-height;
      font-size: $v-font-size;
      width: inherit;
    }

    &.v-has-width {
      input[type=text] {
        width: 100%;

        @include box-sizing(border-box);
      }
    }

    &.v-disabled {
      opacity: 0.5;
    }

    .stepper-updown {
      position: absolute;
      /* position correctly in relation to the textfield padding */
      top: 2px;
      right: 2px;
    }

    .stepper-up, .stepper-down {
      display: block;
      outline: none;
      font-size: $v-font-size;
      line-height: $v-line-height / 2;
    }
  }
}