@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin stepper {
  .stepper {
    position: relative;

    input[type=text] {
      line-height: $v-line-height;
      font-size: $v-font-size;
    }

    .stepper-updown {
      position: absolute;
      top: 4px;
      right: 3px;
    }

    .stepper-up, .stepper-down {
      width: 16px;
      height: 10px;
      display: block;
      outline: none;
    }

    .stepper-up {
      background: transparent url("bullet_arrow_up.png") no-repeat center center;
    }

    .stepper-down {
      background: transparent url("bullet_arrow_down.png") no-repeat center center;
    }
  }

  .stepper.v-has-width {
    .input[type=text] {
      width: 100%;

      @include box-sizing(border-box);
    }

    .stepper-updown {
      right: 1px;
    }
  }

  .v-ie8 .stepper .stepper-updown {
    top: 2px;
    right: 1px;
  }

  .v-ie9 .stepper .stepper-updown,
  .v-ie10 .stepper .stepper-updown {
    top: 1px;
    right: 1px;
  }
}