@import "../valo/valo.scss";

@mixin demotheme {
  @include valo;

  .other-icons {
    .stepper-up, .stepper-down {
      font-size: 12px;
      line-height: 0.9;
    }

    .stepper-up {
      padding-bottom: 3px;
    }
  }
}
