.stepper {
	position: relative;
}

.stepper.v-has-width .gwt-TextBox {
	width: 100%;
	
	-moz-box-sizing: border-box;
	-webkit-boz-sizing: border-box;
	box-sizing: border-box;
}

.stepper .stepper-updown {
	position: absolute;
	top: 4px;
	right: 3px;
}

.stepper.v-has-width .stepper-updown {
	right: 1px;
}

.stepper .stepper-up,
.stepper .stepper-down {
	width: 16px;
	height: 10px;
	display: block;
	outline: none;
}

.stepper .stepper-up {
	background: transparent url("bullet_arrow_up.png") no-repeat center center;
}

.stepper .stepper-down {
	background: transparent url("bullet_arrow_down.png") no-repeat center center;
}

.v-ie8 .stepper .stepper-updown {
	top: 2px;
	right: 1px;
}

.v-ie9 .stepper .stepper-updown,
.v-ie10 .stepper .stepper-updown {
	top: 1px;
	right: 1px;
}